
@model WebAppCore.Areas.DashBoard.Models.DashBoardWidgetsDTO

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row  pl-2" id="divDashBoardRow1WidgetsHolder">
        @await Html.PartialAsync("_DashBoardRow1Widgets", Model.DashBoardRow1Widgets)
</div>


<script>
    var dashBoardHubConnection = new signalR.HubConnectionBuilder().withUrl("/dashBoardHub").build();

    dashBoardHubConnection.on("rUpdateDashBoardRow1Widgets", function (message) {
        $("#divDashBoardRow1WidgetsHolder").html(message);

        var dashBoardRow1WidgetEmployeeDetailsAnimate = KUTE.fromTo('#divDashBoardRow1WidgetEmployeeDetails', { rotateX: 180 }, { rotateX: 0 }, { perspective: 600, duration: 1000, delay: 100 });
        var dashBoardRow1WidgetAppErrorsAnimate = KUTE.fromTo('#divDashBoardRow1WidgetAppErrors', { rotateX: 180 }, { rotateX: 0 }, { perspective: 600, duration: 500 });
        var dashBoardRow1WidgetServicesAnimate = KUTE.fromTo('#divDashBoardRow1WidgetServices', { rotateX: 180 }, { rotateX: 0 }, { perspective: 600, duration: 500 });
        var dashBoardRow1WidgetActiveUsersAnimate = KUTE.fromTo('#divDashBoardRow1WidgetActiveUsers', { rotateX: 180 }, { rotateX: 0 }, { perspective: 600, duration: 500 });

        dashBoardRow1WidgetEmployeeDetailsAnimate.chain(dashBoardRow1WidgetAppErrorsAnimate);
        dashBoardRow1WidgetAppErrorsAnimate.chain(dashBoardRow1WidgetServicesAnimate);
        dashBoardRow1WidgetServicesAnimate.chain(dashBoardRow1WidgetActiveUsersAnimate);
       
        dashBoardRow1WidgetEmployeeDetailsAnimate.start();
    });

    dashBoardHubConnection.start().catch(function (err) {
        return console.error(err.toString());
    });

    setTimeout(
        function () {
            dashBoardHubConnection.invoke("SendMessage", "vvvvv", "vdsvsdv").catch(function (err) {
                return console.error(err.toString());
            });
        }, 3000);

</script>
