/*Margin and Padding helpers*/
/*xs*/
.p-xs {
    padding: .25em;
}

.p-x-xs {
    padding: 0 .25em;
}

.p-y-xs {
    padding: .25em 0;
}

.p-t-xs {
    padding-top: .25em;
}

.p-r-xs {
    padding-right: .25em;
}

.p-b-xs {
    padding-bottom: .25em;
}

.p-l-xs {
    padding-left: .50em;
}

.m-xs {
    margin: .25em;
}

.m-x-xs {
    margin: 0 .25em;
}

.m-y-xs {
    margin: .25em 0;
}

.m-r-xs {
    margin-right: .25em;
}

.m-l-xs {
    margin-left: .25em;
}

.m-t-xs {
    margin-top: .25em;
}

.m-b-xs {
    margin-bottom: .25em;
}
/*sm*/
@media (min-width:768px) {
    /*sm*/
    .p-sm {
        padding: .5em;
    }

    .p-x-sm {
        padding: 0 .5em;
    }

    .p-y-sm {
        padding: .5em 0;
    }

    .p-t-sm {
        padding-top: .5em;
    }

    .p-r-sm {
        padding-right: .5em;
    }

    .p-b-sm {
        padding-bottom: .5em;
    }

    .p-l-sm {
        padding-left: .5em;
    }

    .m-sm {
        margin: .5em;
    }

    .m-x-sm {
        margin: 0 .5em;
    }

    .m-y-sm {
        margin: .5em 0;
    }

    .m-t-sm {
        margin-top: .5em;
    }

    .m-r-sm {
        margin-right: .5em;
    }

    .m-b-sm {
        margin-bottom: .5em;
    }

    .m-l-sm {
        margin-left: .5em;
    }
}

/*md*/
@media (min-width: 992px) {
    .p-md {
        padding: 1em;
    }

    .p-x-md {
        padding: 0 1em;
    }

    .p-y-md {
        padding: 1em 0;
    }

    .p-t-md {
        padding-top: 1em;
    }

    .p-r-md {
        padding-right: 1em;
    }

    .p-b-md {
        padding-bottom: 1em;
    }

    .p-l-md {
        padding-left: 1em;
    }

    .m-md {
        margin: 1em;
    }

    .m-x-md {
        margin: 0 1em;
    }

    .m-y-md {
        margin: 1em 0;
    }

    .m-t-md {
        margin-top: 1em;
    }

    .m-r-md {
        margin-right: 1em;
    }

    .m-b-md {
        margin-bottom: 1em;
    }

    .m-l-md {
        margin-left: 1em;
    }
}

/*lg*/
@media (min-width: 1200px) {
    .p-lg {
        padding: 1.5em;
    }

    .p-x-lg {
        padding: 0 1.5em;
    }

    .p-y-lg {
        padding: 1.5em 0;
    }

    .p-t-lg {
        padding-top: 1.5em;
    }

    .p-r-lg {
        padding-right: 1.5em;
    }

    .p-b-lg {
        padding-bottom: 1.5em;
    }

    .p-l-lg {
        padding-left: 1.5em !important;
    }

    .m-lg {
        margin: 1.5em;
    }

    .m-x-lg {
        margin: 0 1.5em;
    }

    .m-y-lg {
        margin: 1.5em 0;
    }

    .m-t-lg {
        margin-top: 1.5em;
    }

    .m-r-lg {
        margin-right: 1.5em;
    }

    .m-b-lg {
        margin-bottom: 1.5em;
    }

    .m-l-lg {
        margin-left: 1.5em;
    }
}
/*xl*/
.p-xl {
    padding: 3em;
}

.p-x-xl {
    padding: 0 3em;
}

.p-y-xl {
    padding: 3em 0;
}

.p-t-xl {
    padding-top: 3em;
}

.p-r-xl {
    padding-right: 3em;
}

.p-b-xl {
    padding-bottom: 3em;
}

.p-l-xl {
    padding-left: 3em;
}

.m-xl {
    margin: 3em;
}

.m-x-xl {
    margin: 0 3em;
}

.m-y-xl {
    margin: 3em 0;
}

.m-t-xl {
    margin-top: 3em;
}

.m-r-xl {
    margin-right: 3em;
}

.m-b-xl {
    margin-bottom: 3em;
}

.m-l-xl {
    margin-left: 3em;
}

/* Loader Icon Start */
.loaderOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: .75;
    z-index: 9999;
}

.loader {
    padding-left: 17px;
    border: 13px solid #f3f3f3;
    border-radius: 50%;
    border-top: 13px solid rgb(34, 85, 130);
    width: 90px;
    height: 90px;
    -webkit-animation: spin .6s linear infinite; /* Safari */
    animation: spin .6s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Loader Icon End */

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.svg-inline--fa {
    margin-right: 5px;
}

.modal-open {
    overflow: scroll !important;
}


.k-autocomplete {
    border-radius: 0.0rem !important;
    color: #666 !important;
}



k-datepicker {
    border-radius: 0.0rem !important;
    color: #666 !important;
}

.k-picker-wrap, .k-state-default .k-state-selected {
    border-radius: 0.0rem !important;
    color: #666 !important;
}

k-picker-wrap .k-state-focused .k-state-selected {
    box-shadow: none !important;
    border-color: none !important;
    color: #666 !important;
    height: calc(2.2rem + 0rem) !important;
}

.k-autocomplete .k-state-focused, .k-combobox .k-state-focused, .k-combobox .k-state-active, .k-datepicker .k-state-focused,
.k-timepicker .k-state-focused,
.k-datetimepicker .k-state-focused, .k-datepicker .k-state-active,
.k-timepicker .k-state-active,
.k-datetimepicker .k-state-active,
.k-dateinput .k-state-focused,
.k-state-focused .k-multiselect-wrap,
.k-numerictextbox .k-state-focused {
    box-shadow: none !important;
    border-color: none !important;
    color: #666 !important;
    height: calc(2.2rem + 0rem) !important;
}

.k-input:focus, .k-input.k-state-focused, .k-textbox:focus, .k-textbox.k-state-focused, .k-textarea:focus, .k-textarea.k-state-focused, .k-input.k-textbox:focus, .k-input.k-textbox.k-state-focused 

{
    border-color: none !important;
}

.k-datetimepicker .k-state-focused {
    box-shadow: none !important;
    border-color: none !important;
    color: #666 !important;
    height: calc(2.2rem + 0rem) !important;
}


.form-control:focus {
    color: #666;
    background-color: transparent;
    border-color: none !important;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(28,26,104,.25)
}

.k-select {
    border-radius: 0px !important;
    box-shadow: 1px 1px 1px 1px #ddd !important;
    height: 36px;
}


