@model WebAppCore.Models.UserLoginViewModel
<div class="card">
    <div class="card-header   bg-info text-white text-center">
        <h5>Login</h5>
    </div>
    <div class="card-body">

        <form asp-area="Security" asp-controller="UserAccount" asp-action="Login"
              method="POST" data-ajax="true"
              data-ajax-begin="onBeginLoginForm" data-ajax-complete="onCompleteLoginForm"
              data-ajax-failure="onFailedLoginForm" data-ajax-success="onSuccessLoginForm"
                  asp-route-returnUrl="@Context.Request.Path"
              data-ajax-update="divLogin">
            <!-- form content-->
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12  pt-3">
                    <label asp-for="LoginUserName"></label><span> *</span>
                    <input asp-for="LoginUserName" id="loginUserName"
                           placeholder="Enter User Name" class="form-control" />
                    <small>
                        <span asp-validation-for="LoginUserName" id="LoginUserNameVal" class="text-danger"></span>
                    </small>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12  pt-3">
                    <label asp-for="LoginPassword"></label><span> *</span>

                    <input id="loginPassword" type="password"
                           placeholder="Enter Password" class="form-control" />
                    <small>
            <span asp-validation-for="CryptLoginPassword" id="LoginPasswordVal" class="text-danger"></span>
        </small>
                    <input asp-for="CryptLoginPassword" id="hdnCryptLoginPassword" type="password"
                       hidden    placeholder="Enter Password" class="form-control" />
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-info mt-3" id="btnLoginSubmit">
                    <i class="fas fa-angle-double-right"></i>
                    Login
                </button>
                <button type="button" id="btnLoginReset" class="btn btn-info ml-2 mt-3">
                    <i class="fas fa-redo"></i>
                    Clear
                </button>
            </div>
        </form>
    </div>
        </div>

<script>

    $("#loginPassword").keyup(function () {
        var txtpassword = $('#loginPassword').val();
        var key = CryptoJS.enc.Utf8.parse('8080808080808080');
        var iv = CryptoJS.enc.Utf8.parse('8080808080808080');

        var encryptedpassword = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(txtpassword), key,
            {
                keySize: 128 / 8,
                iv: iv,
                mode: CryptoJS.mode.CBC,
                padding: CryptoJS.pad.Pkcs7
            });

        $('#hdnCryptLoginPassword').val(encryptedpassword.toString());
    });

    $('#btnLoginSubmit').click(function () {

    });

    $('#btnLoginReset').click(function () {

        $('#loginUserName').val('');
        $('#loginPassword').val('');

        $('#LoginUserNameVal').text('');
        $('#LoginPasswordVal').text('');

    });

    var onBeginLoginForm = function () {

        JsMain.ShowLoaddingIndicator();
    };

    var onCompleteLoginForm = function () {

        JsMain.HideLoaddingIndicator();
    };

    var onFailedLoginForm = function () {
        JsMain.HideLoaddingIndicator();
    };

    var onSuccessLoginForm = function (res) {

        JsMain.HideLoaddingIndicator();

        if (res.newUrl == "LoginFailed") {

            bootbox.alert("Login Failed. Please try with correct credentials.");

        }
        else {
            window.location.href = res.newUrl;
        }

    };
</script>