@model WebAppCore.Models.UserLoginViewModel
<div class="card">
    <div class="card-header   bg-info text-white text-center">
        <h5>Login</h5>
    </div>
    <div class="card-body">

        <form asp-area="Security" asp-controller="UserAccount" asp-action="Login"
              method="POST" data-ajax="true"
              data-ajax-begin="onBeginLoginForm" data-ajax-complete="onCompleteLoginForm"
              data-ajax-failure="onFailedLoginForm" data-ajax-success="onSuccessLoginForm"
            
              data-ajax-update="divLogin">
            <!-- form content-->
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12  pt-3">
                    <label asp-for="LoginUserName"></label><span> *</span>
                    <input asp-for="LoginUserName" id="loginUserName"
                           placeholder="Enter User Name" class="form-control" />
                    <small>
                        <span asp-validation-for="LoginUserName" id="LoginUserNameVal" class="text-danger"></span>
                    </small>

                </div>

            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12  pt-3">
                    <label asp-for="LoginPassword"></label><span> *</span>
                    <input asp-for="LoginPassword" id="loginPassword" type="password"
                           placeholder="Enter Password" class="form-control" />
                    <small>
                        <span asp-validation-for="LoginPassword" id="LoginPasswordVal" class="text-danger"></span>
                    </small>

                </div>

            </div>


            <div class="text-center">
                <button type="submit" class="btn btn-info mt-3" id="btnLoginSubmit">
                    <i class="fas fa-angle-double-right"></i>
                    Login
                </button>
                <button type="button" id="btnLoginReset" class="btn btn-info ml-2 mt-3">
                    <i class="fas fa-redo"></i>
                    Clear
                </button>
            </div>

        </form>

    </div>
        </div>

<script>
    $('#btnLoginReset').click(function () {
       
        $('#loginUserName').val('');
        $('#loginPassword').val('');

        $('#LoginUserNameVal').text('');
        $('#LoginPasswordVal').text('');

    });

    var onBeginLoginForm = function () {
        //  alert();
        JsMain.ShowLoaddingIndicator();
    };

    var onCompleteLoginForm = function () {
        //  alert();
        JsMain.HideLoaddingIndicator();
    };

    var onFailedLoginForm = function () {
        //  alert();
        JsMain.HideLoaddingIndicator();
    };

    var onSuccessLoginForm = function (res) {
      
        JsMain.HideLoaddingIndicator();

        if (res.newUrl == "LoginFailed") {
          
            bootbox.alert("Login Failed. Please try with correct credentials.");

        }
        else {
            window.location.href = res.newUrl;
        }
        
    };
</script>