@model WebAppCore.Areas.Security.Models.RegisterUserViewModel
<div id="modalRegistrationSuccess" class="modal show" tabindex="-1" role="dialog"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success"
                 style="box-shadow: 0 0 5px #888;">
                <h5 class="modal-title  text-secondary">
                    <i class="fas fa-thumbs-up"></i>
                    Success
                </h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <p>Your Registration is success</p>
                </div>

                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pr-1 pl-1">
                        <span class="ml-auto">Your User Name : </span>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pr-1 pl-1">
                        <h5 class="">
                            @Html.LabelFor(m => m.UserName, Model.UserName, new { id = "CreatedUserName" })
                        </h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pr-1 pl-1">
                        <span class="ml-auto">Your Password : </span>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pr-1 pl-1">
                        <h5 class="">
                            @Html.LabelFor(m => m.Password, Model.Password, new { id = "CreatedPassword" })
                        </h5>
                    </div>
                </div>

                <div class="text-center">
                    <button type="button" id="btnSubmitToLogin" class="btn btn-dark mt-3 mr-2">
                        <i class="fas fa-angle-double-right"></i>
                        Login
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        jQuery(document).ready(function () {
            $('#modalRegistrationSuccess').modal('show');

            $("#btnSubmitToLogin").click(function (e) {

                $('#modalRegistrationSuccess').modal('hide');

                $('#registerUserNameVal').text('');
                $('#registerEmailIdVal').text('');
                $('#registerFirstNameVal').text('');
                $('#registerLastNameVal').text('');
                $('#registerPasswordVal').text('');
                $('#registerReTypePasswordVal').text('');

                $('#registerUserName').val('');
                $('#registerEmailId').val('');
                $('#registerFirstName').val('');
                $('#registerLastName').val('');
                $('#registerPassword').val('');
                $('#registerReTypePassword').val('');
                $("#password").text("");

                $('#loginUserName').val($('#CreatedUserName').text());
                $('#loginPassword').val($('#CreatedPassword').text());

                var txtpassword = $('#loginPassword').val();
                var key = CryptoJS.enc.Utf8.parse('8080808080808080');
                var iv = CryptoJS.enc.Utf8.parse('8080808080808080');

                var encryptedpassword = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(txtpassword), key,
                    {
                        keySize: 128 / 8,
                        iv: iv,
                        mode: CryptoJS.mode.CBC,
                        padding: CryptoJS.pad.Pkcs7
                    });

                $('#hdnCryptLoginPassword').val(encryptedpassword.toString());

                $("#btnLoginSubmit").trigger("click");
            });

        });
    </script>
</div>