@model WebAppCore.Areas.Security.Models.RegisterUserViewModel
<div class="card">
    <div class="card-header   bg-info  text-white text-center">
        <h5>Register</h5>
    </div>
    <div class="card-body" id="registerCardBody">

        <form asp-area="Security" asp-controller="UserAccount" asp-action="RegisterUser"
              method="POST" data-ajax="true"
              data-ajax-begin="onBeginRegisterForm" data-ajax-complete="onCompleteRegisterForm"
              data-ajax-failure="onFailedRegisterForm" data-ajax-success="onSuccessRegisterForm"
              data-ajax-update="divRegisterUser" id="formRegisterUser">
            <!-- form content-->
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6  pt-3">
                    <label asp-for="UserName"></label><span> *</span>

                    <input asp-for="UserName" id="registerUserName" data-val="true" type="text"
                           placeholder="Enter User Name" class="form-control" />
                    <small>
                        <span asp-validation-for="UserName" id="registerUserNameVal" class="text-danger"></span>
                    </small>

                </div>

                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6  pt-3">
                    <label asp-for="EmailId"></label><span> *</span>
                    <input asp-for="EmailId" id="registerEmailId"
                           placeholder="Enter Email Id" class="form-control" />
                    <small>
                        <span asp-validation-for="EmailId" id="registerEmailIdVal" class="text-danger"></span>
                    </small>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6  pt-3">
                    <label asp-for="FirstName"></label><span> *</span>
                    <input asp-for="FirstName" id="registerFirstName"
                           placeholder="Enter First Name" class="form-control" />
                    <small>
                        <span asp-validation-for="FirstName" id="registerFirstNameVal" class="text-danger"></span>
                    </small>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6  pt-3">
                    <label asp-for="LastName"></label><span> *</span>
                    <input asp-for="LastName" id="registerLastName"
                           placeholder="Enter Last Name" class="form-control" />
                    <small>
                        <span asp-validation-for="LastName" id="registerLastNameVal" class="text-danger"></span>
                    </small>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6  pt-3">
                    <label asp-for="Password"></label><span> *</span>
                    <input type="password" asp-for="Password" id="registerPassword"
                           placeholder="Enter Password" class="form-control" />
                    <small>
                        <span asp-validation-for="Password" id="registerPasswordVal" class="text-danger"></span>
                    </small>
                    <div id="55" style="padding-top:10px" class="pwstrength_viewport_progress"></div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6  pt-3">
                    <label asp-for="ReTypePassword"></label><span> *</span>
                    <input type="password" asp-for="ReTypePassword" id="registerReTypePassword"
                           placeholder="Re-Type Password" class="form-control" />
                    <small>
                        <span asp-validation-for="ReTypePassword" id="registerReTypePasswordVal" class="text-danger"></span>
                    </small>
                </div>
            </div>

            <input type="password" class="form-control" style="display:none; " id="password" placeholder="Password">

            <div class="text-center">
                <button type="submit" class="btn btn-info mt-3" id="idRegisterUser"
                        value="RegisterUser" >
                    <i class="fas fa-user-plus"></i>
                    Register
                </button>
                <button type="button" id="btnRegisterReset" class="btn btn-info ml-2 mt-3">
                    <i class="fas fa-redo"></i>
                    Clear
                </button>

                <button type="button" id="btnAutoGenerate" class="btn btn-dark ml-2 mt-3"
                         value="AutoGenerate" >
                    <i class="fas fa-space-shuttle"></i>

                    Auto Populate
                </button>

            </div>
            <div id="Results"></div>
           
        </form>
    </div>
</div>

<script>

    $("#btnAutoGenerate").click(function (e) {
        e.preventDefault();

        //$("#registerUserName").rules("remove");
        //$("#registerEmailId").rules("remove");
        //$("#registerFirstName").rules("remove");
        //$("#registerLastName").rules("remove");
        //$("#registerPassword").rules("remove");
        //$("#registerReTypePassword").rules("remove");

        //$('#formRegisterUser').submit()
         $.ajax({
            type: "POST",
            url: '@Url.Action("AutoPopulateRegsitration", "UserAccount")',
            contentType: "application/json",
            dataType: "json",
             complete: function (data) {
            },
             success: function (data) {
                 $("#_RegisterPartialViewDiv").html(data);
            }
        });
        return false;
    });

    var onBeginRegisterForm = function () {
        //  alert();

        //$("#registerUserName").rules("remove");
        //$("#registerEmailId").rules("remove");
        //$("#registerFirstName").rules("remove");
        //$("#registerLastName").rules("remove");
        //$("#registerPassword").rules("remove");
        //$("#registerReTypePassword").rules("remove");

        JsMain.ShowLoaddingIndicator();
    };

    var onCompleteRegisterForm = function () {
        //  alert();

        JsMain.HideLoaddingIndicator();
    };

    var onSuccessRegisterForm = function () {
        //  alert();
        JsMain.HideLoaddingIndicator();
    };

    var onFailedRegisterForm = function () {
        //  alert();
        JsMain.HideLoaddingIndicator();
    };

    $('#btnRegisterReset').click(function () {

        $('#registerUserNameVal').text('');
        $('#registerEmailIdVal').text('');
        $('#registerFirstNameVal').text('');
        $('#registerLastNameVal').text('');
        $('#registerPasswordVal').text('');
        $('#registerReTypePasswordVal').text('');

        $('#registerUserName').val('');
        $('#registerEmailId').val('');
        $('#registerFirstName').val('');
        $('#registerLastName').val('');
        $('#registerPassword').val('');
        $('#registerReTypePassword').val('');
        $("#password").text("");
    });
    jQuery(document).ready(function () {
        "use strict";
        var options = {};
        options.ui = {
            bootstrap4: true,
            container: "#pwd-container",
            viewports: {
                debug: true,
                progress: ".pwstrength_viewport_progress"
            },
            showVerdictsInsideProgressBar: true
        };
        options.common = {
            onLoad: function () {
            }
        };
        $(':password').pwstrength(options);
    });


    $("#registerPassword").keyup(function () {
        $("#password").text($("#registerPassword").val());
    });


</script>