
@model WebAppCore.Areas.Security.Models.UserLoginRegisterDTO

@{
    var module = Model; //this throws the NullReferenceException
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">

    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 pb-3
          order-md-1 order-sm-1  order-xl-1 order-lg-1">
        <div class="card text-white bg-danger">
            <div class="card-header text-center">
                <h5>Danger</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">Don't Provide Your Correct Identifying Data</h5>
                <br />
                <p class="card-text">This website is to show my ASP.NET MVC Core Development Skill</p>
                <br />
                <h5 class="card-title">Please provide fake data to login</h5>
                <h5 class="card-title text-center">OR</h5>
                <br />

                <h5 class="card-title">Use Auto-Populate option to generate fake data</h5>

            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 pb-3 order-md-3 order-sm-3 order-3
            order-xl-2 order-lg-2" id="_RegisterPartialViewDiv">
        @await Html.PartialAsync("_Register", Model.RegisterUserViewModel)
    </div>

    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3  order-md-2 order-sm-2
            order-xl-3 order-lg-3 order-2  pb-3 ">
    
        @await Html.PartialAsync("_Login", Model.UserLoginViewModel)
    </div>
    
</div>
<div id="appendPartialView"></div>


