
@model WebAppCore.Areas.Security.Models.UserLoginRegisterDTO

@{
    var module = Model; //this throws the NullReferenceException
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">

    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <div class="card text-white bg-danger">
            <div class="card-header text-center">
                <h5>Danger</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">Don't Provide Your Correct Identifying Data</h5>
                <br />
                <p class="card-text">This website is to show my ASP.NET MVC Core Development Skill</p>
                <br />
                <h5 class="card-title">Please provide fake data to login</h5>
                <h5 class="card-title text-center">OR</h5>
                <br />

                <h5 class="card-title">Use Auto-Populate option to generate fake data</h5>

            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 pb-3">
        @await Html.PartialAsync("_Register", Model.RegisterUserViewModel)
    </div>

    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        @*@Html.Partial("_Login.cshtml", Model.UserLoginViewModel)*@
        @await Html.PartialAsync("_Login", Model.UserLoginViewModel)
    </div>

</div>



