@{
    ViewData["Title"] = "Add New Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WebAppCore.Areas.EmployeeManage.Models.EmployeeViewModel
<form asp-area="EmployeeManage" asp-controller="EmployeeManage" asp-action="AddEmployee"
      method="POST" data-ajax="true"
      data-ajax-begin="onBeginAddEmployeeForm" data-ajax-complete="onCompleteAddEmployeeForm"
      data-ajax-failure="onFailedAddEmployeeForm" data-ajax-success="onSuccessAddEmployeeForm"
      data-ajax-update="divAddEmployee" id="formAddEmployee">

    @await Html.PartialAsync("_EmployeePersonalDetails", Model)
    @await Html.PartialAsync("_EmployeeContactDetails", Model)

    <div id="Results"></div>
</form>
<script>

    $(document).ready(function () {

    });

    function onComboBoxChange(e) {

        if (this.select() < 0) {
            this.value("");
        }
    }

    var onBeginAddEmployeeForm = function () {

        JsMain.ShowLoaddingIndicator();
    };

    var onFailedAddEmployeeForm = function () {

        JsMain.HideLoaddingIndicator();
        //JsMain.ShowMessageShowReloadPopUp('Error',
        //'Error occured on Employee creation. If issue presist contact Support Team');
    };

    var onCompleteAddEmployeeForm = function () {
        //  alert();

        JsMain.HideLoaddingIndicator();
    };

    var onSuccessAddEmployeeForm = function (data) {
        //  alert();
        var dataArray = data.split("|");
        JsMain.HideLoaddingIndicator();

        JsMain.ShowMessageShowPopUp(dataArray[2], dataArray[3]);

        ////Request Failed
        //if (dataArray[1] == '1') {
        //    JsMain.ShowMessageShowPopUp(dataArray[2], dataArray[3]);
        //    JsMain.ShowMessageShowReloadPopUp(dataArray[2], dataArray[3]);
        //}
        ////Request Passed
        //if (dataArray[1] == '0') {

        //    JsMain.ShowMessageShowPopUp(dataArray[2], dataArray[3]);
        //}
    };
</script>
<script>
</script>