@model WebAppCore.Areas.EmployeeManage.Models.EmployeeManageDTO
@{
    ViewData["Title"] = "Employee Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 pb-3" id="_EmployeeSearchPartialViewDiv">
        @await Html.PartialAsync("_EmployeeSearch")
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 pb-3 "id="_EmployeeSearchDetailsPartialViewDiv">

        @await Html.PartialAsync("_EmployeeSearchDetails")
    </div>

</div>

<div id="appendPartialView"></div>






